In [1]:
import numpy as np
import pandas as pd

In [3]:
# data degan lug'at yaratamiz
data = {
    "BoyOrGirl":[
        'Boy',
        'Boy',
        'Boy',
        'Girl',
        'Boy',
        'Girl',
        'Boy',
        'Boy',
        'Girl',
        'Girl',
        'Boy',
        'Boy'
    ],
    "TestScore":[27,43,33,98,90,67,37,77,70,80,90,50]
}

In [4]:
# data lug'atni DataFrame shakliga o'tkazib olamiz, 
#bunda lug'atimizdagi'BoyOrGirl' va 'TestScore' kalitlar ustun,
# ularning qiymatlari esa, ustun elementlari bo'ladi.
df= pd.DataFrame(data, columns = ['BoyOrGirl','TestScore'])
df

   BoyOrGirl  TestScore
0        Boy         27
1        Boy         43
2        Boy         33
3       Girl         98
4        Boy         90
5       Girl         67
6        Boy         37
7        Boy         77
8       Girl         70
9       Girl         80
10       Boy         90
11       Boy         50

In [8]:
# df faylimizdagi 'TestScore' ustunini 
# 'BoyOrGirl' ustuni qiymatlari bo'yicha guruhlab olamiz.
groupby_gender = df['TestScore'].groupby(df['BoyOrGirl'])
groupby_gender # bu bziga qandaydir object qaytaradi.

In [6]:
len(list(df['TestScore'].groupby(df['BoyOrGirl'])))

2

In [7]:
#bizga qaytgan objectni list shaklida ko'rib olamiz
list(df['TestScore'].groupby(df['BoyOrGirl']))
# natijada ikkita guruh hosl bo'lganini korishimiz mumkin
#bular: 'Boy' va 'Girl'

[('Boy',
  0     27
  1     43
  2     33
  4     90
  6     37
  7     77
  10    90
  11    50
  Name: TestScore, dtype: int64),
 ('Girl',
  3    98
  5    67
  8    70
  9    80
  Name: TestScore, dtype: int64)]

In [11]:
#'BoyOrGirl' ustun elementlarini, qayta takrorlangan bo'lsa bittasini oladi
#"TestScore" ustuni elementlari bo'yicha pastda berilgan agregatga tekshirish
#bular: yig'indisi, maximumi,o'rtachasi va maximumdan minimumining ayirmasi.
df.groupby(['BoyOrGirl']).agg(
    {"TestScore": ['sum','max','mean',lambda x: x.max() - x.min() ]}
)

          TestScore
                sum max    mean <lambda_0>
BoyOrGirl
Boy             447  90  55.875         63
Girl            315  98  78.750         31

In [13]:
#df dagi 1- guruh elementlari ko'rish.
list(df['TestScore'].groupby(df['BoyOrGirl']))[0]

('Boy',
 0     27
 1     43
 2     33
 4     90
 6     37
 7     77
 10    90
 11    50
 Name: TestScore, dtype: int64)

In [14]:
#df dagi 2- guruh elementlari ko'rish.
list(df['TestScore'].groupby(df['BoyOrGirl']))[1]

('Girl',
 3    98
 5    67
 8    70
 9    80
 Name: TestScore, dtype: int64)

In [15]:
dk=list(df['TestScore'].groupby(df['BoyOrGirl']))[0]

In [17]:
type(dk)

tuple

In [18]:
import pandas as pd

# Sample tuple object
tuple_data = [('Alice', 25, 'Female'),
              ('Bob', 30, 'Male'),
              ('Charlie', 35, 'Male')]

# Convert tuple to DataFrame
df = pd.DataFrame(tuple_data, columns=['Name', 'Age', 'Gender'])

# Display the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male

In [22]:
import numpy as np
import pandas as pd

# Data dictionary
data = {
    "BoyOrGirl": [
        'Boy', 'Boy', 'Boy', 'Girl', 'Boy', 'Girl',
        'Boy', 'Boy', 'Girl', 'Girl', 'Boy', 'Boy'
    ],
    "TestScore": [27, 27, 27, 98, 90, 67, 37, 77, 70, 80, 90, 50]
}

# Creating DataFrame
df = pd.DataFrame(data, columns=['BoyOrGirl', 'TestScore'])

# Grouping test scores by gender
groupby_gender = df['TestScore'].groupby(df['BoyOrGirl'])

# Filtering out duplicate values within the "Boy" group
filtered_group = groupby_gender.get_group('Boy').drop_duplicates()

print("Filtered Test Scores for Boys:")
print(filtered_group)

Filtered Test Scores for Boys:
0     27
4     90
6     37
7     77
11    50
Name: TestScore, dtype: int64